body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #7682f1; */
/* background-image: url("https://www.cypressgreen.in/blog/wp-content/uploads/2021/03/food.jpg"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

