# Dependencies
/node_modules

# Environment variables
/.env

# Build output
/build

# Editor-specific files
.idea
.vscode

# Log files
npm-debug.log*

# macOS-specific files
.DS_Store

# MongoDB data directory
/data
